.caja{
  position: absolute;
  margin-top: 20%;
}

.fuente{
  font-style: normal;
  font-weight: bold;
}

.juntos{
  line-height: 80%;
}

.caja3{
  margin-top: 50%;
}

.mt-20{
  margin-top: 20%;
}
.mt-10{
  margin-top: 10%;
}
.mt-5{
  margin-top: 5%;
}

.check-box{
  display: flex;
  margin: 0px 8% 0 8%;
  justify-content: center;
}
