/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600&display=swap");

:root{
  --ion-font-family: "Catamaran", sans-serif;
}
ion-content {
  --background: linear-gradient(79.87deg, #028484 0%, #88ca9a 99.17%);
}


.linear-gradient {
  background: linear-gradient(79.87deg, #028484 0%, #88ca9a 99.17%);
}

/*colors*/
.btn-green {
  --background: #028484;
}

.btn-green-claro{
  --background: #5AC4C4;
  ;
}

.yellow-text{
  color: #F8CD51;
}

.transparent-input{
  --background: transparent;
  --color: #D9EFE0;
}

.text-input-color{
  --color: #D9EFE0;
}

/*size text*/
.text-chico{
  font-size: 1.4rem;
}
.text-mediano{
  font-size: 1.9rem;
}

.text-grande{
  font-size: 3rem;
}

/*size buttons*/
.btn-exapand{
  margin: 0 10% 0 10%;
}
